# Data processing
pandas==1.3.3
numpy==1.21.5
spacy==3.72
nltk==3.7
json5==0.9.6

# Visualization
matplotlib==3.4.3
seaborn==0.11.2
holoviews==1.15.0
colorcet==3.00
colorama==0.4.5

# Machine learning / NLP
transformers==4.32.1
torch==2.3.0
openai==0.28
pycorenlp== 0.3.0
# Scientific computing
scipy==1.15.2
regex==2022.7.9
